.main-classroom{
  width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.classroom-parent{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,10vw);
    gap: 10vw;
}

.class-row{
  width: 15vw;
  display: grid;
  grid-template-columns: repeat(2,50%);
  grid-template-rows: repeat(5,15vh);
}

.class-seat{
  width: 100%;
  height: 100%;
  border: 1.5px solid #3146B3;
}

.class-seat:hover{
  background-color: #E5E7EB;
  transition: 0.2s ease-in;
}

.addStd-popup{
  width: 50vw;
  height: 60vh;
  background-color: #E5E7EB;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
  z-index: 10000;
}

.add-std-div {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 40%;
}

.add-std-div input {
  width: 100%;
  padding: 12px 14px;
  border: 2px solid #1E3A8A;
  border-radius: 5px;
  background-color: #f8f9fb;
  box-sizing: border-box;
}

.add-std-div input:focus {
  border-color: #3146b3;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(49, 70, 179, 0.3);
}

.department-dropdown{
  width: 40%;
  height: 2.5rem;
  font-family: "Poppins", sans-serif;
  outline: none;
  max-height: 8rem !important;
  overflow: scroll;
  border: 2px solid #1E3A8A;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f8f9fb;
}

.btn-group button {
  display: inline-block;
  padding: 10px 18px;
  margin: 10px 6px;
  background-color: #1E3A8A;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  font-family: "Poppins", sans-serif;
  border: 2px solid #1E3A8A;
}

.add-btn:hover,
.btn-group button:hover {
  background-color: #3146B3;
}

.btn-group button:first-child {
  
  background-color: transparent;
  color: #333;
}

.btn-group button:first-child:hover {
  background-color: #d7d9e0;
}

.student-dropdown{
    width: 40%;
    height: 2.5rem;
    font-family: "Poppins", sans-serif;
    outline: none;
    max-height: 8rem !important;
    overflow: scroll;
    border: 2px solid #1E3A8A;
    border-radius: 5px;
    cursor: pointer;
}