body,
html {
    height: 100%;
    margin: 0;
}

.home-page {
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
}

.info-box {
    width: 45%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}

.info-box h2 {
    font-size: 1.8rem;
}

.info-box:hover {
    background-color: #E5E7EB;
    transition: 0.2s ease;
}

.description-popup {
    width: 60vw;
    height: 60vh;
    background-color: #E5E7EB;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
    z-index: 10000;
    overflow: scroll;
}

.description-list {
    width: 100%;
    flex: 1;
    overflow-y: auto;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: left;
    padding-bottom: 5vw;
}

.description-list ul {
    list-style-type: none;
    margin: 0;
    padding: 2vw;
}

::-webkit-scrollbar {
    display: none;
}

.description-list ul li {
    background-color: transparent;
    cursor: pointer;
}

.description-list ul li:hover {
    background-color: #D1D5DB;
}

.description-list-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr 1fr 1fr;
    color: black;
    font-weight: 600;
    padding: 12px 20px;
}