.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9FAFB;
    font-family: 'Inter', 'Poppins', sans-serif;
}

.main-login {
    width: 50vw;
    min-height: 70vh;
    border: 2px solid #1E3A8A;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    padding: 2rem;
}

.main-login h1 {
    font-weight: 600;
    color: #1E3A8A;
    margin-bottom: 1rem;
}

.form-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.input-container {
    width: 60%;
    height: 2.5rem;
    border: 1.5px solid #111827;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    background-color: #F9FAFB;
    transition: border-color 0.2s ease;
}

.input-container:hover {
    border-color: #1E3A8A;
}

.input-icon {
    width: 12%;
    height: 100%;
    border-right: 1px solid #111827;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container input {
    width: 88%;
    padding: 0.6rem;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}

.form-container p {
    font-size: 0.9rem;
    color: #111827;
}

.form-container a {
    color: #1E3A8A;
    text-decoration: none;
    font-weight: 500;
}

.form-container a:hover {
    text-decoration: underline;
}

.form-container button {
    width: 40%;
    height: 2.8rem;
    background-color: #1E3A8A;
    border: none;
    color: #F9FAFB;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.form-container button:hover {
    background-color: #3146B3;
}



@media (max-width: 768px) {
    .main-login {
        width: 75vw;
        min-height: 70vh;
        padding: 1.5rem;
    }

    .input-container {
        width: 75%;
    }

    .form-container button {
        width: 60%;
    }
}

@media (max-width: 480px) {
    .main-login {
        width: 90vw;
        min-height: 70vh;
        padding: 1rem;
    }

    .main-login h1 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .input-container {
        width: 85%;
        height: 2.8rem;
    }

    .input-icon {
        width: 15%;
    }

    .form-container button {
        width: 70%;
        height: 2.6rem;
        font-size: 0.9rem;
    }

    .form-container p {
        font-size: 0.8rem;
    }
}
