.navbar{
    width: 100%;
    height: 20vh;
    position: fixed;
    z-index: 999;
    background-color: #1E3A8A;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 0 8px 10px rgba(0,0,0,0.25);
}

nav{
    height: 100%;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a{
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #F9FAFB;
    z-index: 2;
}


nav a:hover{
    color: #CCCCCC !important;
    transition: color 0.2s ease;
}

nav li{
    text-decoration: none;
    list-style-type: none;
    height: 60px;
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 1;
  background-color: #1E3A8A;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  border-left: 1px solid #F9FAFB;
  font-size: 4vw;
  font-family: "Lato", sans-serif;
}

.menuBtn{
  display: none;
  margin-bottom: auto;
  margin-left: 70vw;
}

.sidebar li{
  width: 100%;
  height: 10px;
  margin-top: 20%;
}

.sidebar a{
  color: #F9FAFB;
  height: 10%;
}

.sidebar .x-logo{
  margin-bottom: 20%;
}

.sidebar a:hover {
  color: #F2F2F2;
  transition: color 0.2s ease;
}

@media(max-width:1000px){
    .navbar{
        height: 18vh;
    }
    nav{
        height:8vh;
        font-size: 2.5vw;
    }
}


@media(max-width:700px){
  .hideOnMobile,.quote-btn{
    display: none;
  }
  .menuBtn{
    display: inline-flex;
    position: fixed;
  }
  .x-logo{
    display: inline-flex;
  }
  .navbar{
        height: 12vh;
    }
    nav{
        height:10vh;
        font-size: 2.5vw;
    }
}