.main-seats {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}

.room-selector {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: auto;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6px);
}

.room-selector-content{
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.room-adder{
    margin-left: auto;
    margin-top: 1rem;
}

.room-add-btn{
    width:6rem;
    height: 2.5rem;
    background-color: #1E3A8A;
    color: #E5E7EB;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.room-add-btn:hover{
    background-color: #3146B3;
    transition: 0.2s ease;
}

.room-dropdown{
    width: 100%;
    height: 2.5rem;
    font-family: "Poppins", sans-serif;
    outline: none;
    max-height: 8rem !important;
    overflow: scroll;
    border: 2px solid #1E3A8A;
    border-radius: 5px;
    cursor: pointer;
}

.room-dropdown:hover{
    background-color: #F3F4F6;
}

.seat-display{
    width: 80%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7rem;
}

.room-heading-div{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #D1D5DB;
    top: 0;
    margin-top: 3rem;
}

.room-heading{
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.room-heading h2, .room-heading p{
    font-size: 1.2rem;
    margin-right: auto;
}

.change-btn{
    width: 10vw;
    height: 2rem;
    background-color: transparent;
    border: 2px solid #1E3A8A;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    margin: 0px auto;
}

.change-btn:hover{
    background-color: #F3F4F6;
}

.date-picker{
    width: 10vw;
    height: 1.7rem;
    font-family: "Poppins", sans-serif;
    border: 2px solid #1E3A8A;
    border-radius: 5px;
}

.room-display{
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin-top: 5rem;
}

.plan-dropdown{
    width: 25%;
    height: 2rem;
    margin: auto;
    border: 2px solid #1E3A8A;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.plan-dropdown:hover{
    background-color: #F3F4F6;
}

.save-btn{
    width: 10%;
    height: 2.8rem;
    background-color: #1E3A8A;
    border: none;
    color: #F9FAFB;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 5vw;
}

.save-btn:hover {
    background-color: #3146B3;
}